In [1]:
import sys
import pandas as pd
import pyodbc as pyodbc
from sqlalchemy.dialects.mssql import pymssql
import pymssql
import pymongo
import csv
import json
from config import userid,password
from pymongo import MongoClient
from flask import Flask, jsonify, render_template
client = MongoClient()
client = MongoClient('localhost', 27017)
#mongodb+srv://arinmuk:amarji123!@cluster0-omshy.mongodb.net/test?retryWrites=true&w=majority
cloudstr=f'mongodb+srv://{userid}:{password}@cluster0-omshy.mongodb.net/test?retryWrites=true&w=majority'
cloudclient = MongoClient(cloudstr)

C:\Users\arin_\.conda\envs\pythondata\lib\site-packages\ipykernel_launcher.py:5: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated since Python 3.3,and in 3.9 it will stop working
  """

In [2]:
db=cloudclient['Aircraft']
colmodelscloud=db['models']
cursor = colmodelscloud.find()
print(cursor)

<pymongo.cursor.Cursor object at 0x000001D1B804EA48>

In [3]:
for rec in cursor[:2]:
    print(rec)

{'_id': ObjectId('5e16171f56a69c30b427b212'), 'ID': 2, 'MODEL_NO': 'AC18022B', 'DIMAID': nan, 'WID': '3873', 'AIRLINE': 'AIR INDIA', 'AIRCRAFT_TYPE': 'B707-400', 'REGISTRATION': 'VT-DJI', 'DESCRIPTION': 'Aeroclassics Air India B 707-437 1:400 - AC18022B - ID#3873; 1960s - Delivery  Colors. Named  Nanda Devi .VT-DJI', 'SIZE': '1:400', 'PRICE': 122.0, 'SHIPPING': 20.0, 'TAX': 0.0, 'COMPANY': 'AEROCLASSICS', 'ORDEREDFROM': 'EBAY:marketa2218', 'DATEOFORDER': datetime.datetime(2011, 2, 6, 0, 0), 'HangarClub': False, 'PictureID': 2.0}
{'_id': ObjectId('5e16171f56a69c30b427b213'), 'ID': 3, 'MODEL_NO': 'HE502238', 'DIMAID': nan, 'WID': '12793', 'AIRLINE': 'KINGFISHER', 'AIRCRAFT_TYPE': 'A320-200', 'REGISTRATION': 'VT-KFA', 'DESCRIPTION': 'Herpa Kingfisher Airlines A320-232 1:500 - 502238 - ID#12793 ; 2005s  Colors. New Generation II;VT-KFA', 'SIZE': '1:500', 'PRICE': 26.0, 'SHIPPING': 3.0, 'TAX': 0.0, 'COMPANY': 'HERPA', 'ORDEREDFROM': 'DAC:', 'DATEOFORDER': datetime.datetime(2011, 2, 6, 0, 0), 'HangarClub': False, 'PictureID': 3.0}

In [4]:
airdf= pd.DataFrame(list( colmodelscloud.find()))
airdf.head()

,_id,ID,MODEL_NO,DIMAID,WID,AIRLINE,AIRCRAFT_TYPE,REGISTRATION,DESCRIPTION,SIZE,PRICE,SHIPPING,TAX,COMPANY,ORDEREDFROM,DATEOFORDER,HangarClub,PictureID
0,5e16171f56a69c30b427b212,2,AC18022B,NaN,3873,AIR INDIA,B707-400,VT-DJI,Aeroclassics Air India B 707-437 1:400 - AC180...,1:400,122.00,20.0,0.0,AEROCLASSICS,EBAY:marketa2218,2011-02-06,False,2.0
1,5e16171f56a69c30b427b213,3,HE502238,NaN,12793,KINGFISHER,A320-200,VT-KFA,Herpa Kingfisher Airlines A320-232 1:500 - 502...,1:500,26.00,3.0,0.0,HERPA,DAC:,2011-02-06,False,3.0
2,5e16171f56a69c30b427b214,7,DRW55934,NaN,13473,QATAR AIRWAYS,A330-200,A7-ACG,Dragon Wings Qatar Airways A330-202 1:400 - 55...,1:400,20.95,0.4,0.0,DRAGON WINGS,3000toys.com,2011-02-04,False,6.0
3,5e16171f56a69c30b427b215,11,MP5805,NaN,17047,LUFTHANSA,A340-600,NA,Model Power Lufthansa A340-642 1:500 - 5805 - ...,1:500,14.95,0.4,0.0,MODEL POWER,3000TOYS.COM,2011-02-04,False,10.0
4,5e16171f56a69c30b427b216,12,AC4XEAJ,NaN,15977,EL AL,B767-300ER,4X-EAJ,Aeroclassics El Al B 767-330ER 1:400 - AC4XEAJ...,1:400,15.00,1.0,0.0,AEROCLASSICS,JETCOLLECTOR,2011-01-02,False,12.0

In [5]:
cursor = colmodelscloud.find({"AIRLINE":"AIR INDIA"})
for rec in cursor[:2]:  #slicning in loop to show only two records
         print (rec)

print("++++++++++++++++++")

{'_id': ObjectId('5e16171f56a69c30b427b212'), 'ID': 2, 'MODEL_NO': 'AC18022B', 'DIMAID': nan, 'WID': '3873', 'AIRLINE': 'AIR INDIA', 'AIRCRAFT_TYPE': 'B707-400', 'REGISTRATION': 'VT-DJI', 'DESCRIPTION': 'Aeroclassics Air India B 707-437 1:400 - AC18022B - ID#3873; 1960s - Delivery  Colors. Named  Nanda Devi .VT-DJI', 'SIZE': '1:400', 'PRICE': 122.0, 'SHIPPING': 20.0, 'TAX': 0.0, 'COMPANY': 'AEROCLASSICS', 'ORDEREDFROM': 'EBAY:marketa2218', 'DATEOFORDER': datetime.datetime(2011, 2, 6, 0, 0), 'HangarClub': False, 'PictureID': 2.0}
{'_id': ObjectId('5e16171f56a69c30b427b221'), 'ID': 32, 'MODEL_NO': 'IF743003', 'DIMAID': nan, 'WID': '21375', 'AIRLINE': 'AIR INDIA', 'AIRCRAFT_TYPE': 'B747-300', 'REGISTRATION': 'VT-EPW', 'DESCRIPTION': 'Inflight200 Air India B 747-337SCD 1:200 - IF743003; 1990s  Colors. With Rolling Gears;VT-EPW', 'SIZE': '1:200', 'PRICE': 90.0, 'SHIPPING': 4.0, 'TAX': 0.0, 'COMPANY': 'INFLIGHT200', 'ORDEREDFROM': 'EBAY:JOHANCHAN2004', 'DATEOFORDER': datetime.datetime(2011, 1, 31, 0, 0), 'HangarClub': False, 'PictureID': 32.0}
++++++++++++++++++

In [6]:
cursor = colmodelscloud.find({"AIRLINE":"AIR INDIA"}, { "AIRLINE": 1, "AIRCRAFT_TYPE": 1, "REGISTRATION": 1,"_id":0 })
for rec in cursor[:2]:  #slicning in loop to show only two records
         print (rec)

{'AIRLINE': 'AIR INDIA', 'AIRCRAFT_TYPE': 'B707-400', 'REGISTRATION': 'VT-DJI'}
{'AIRLINE': 'AIR INDIA', 'AIRCRAFT_TYPE': 'B747-300', 'REGISTRATION': 'VT-EPW'}

In [7]:
cursor = colmodelscloud.find({"REGISTRATION":"VT-DJI"}, { "AIRLINE": 1, "AIRCRAFT_TYPE": 1, "REGISTRATION": 1,"_id":0 })
for rec in cursor:  #slicning in loop to show only two records
         print (rec)

{'AIRLINE': 'AIR INDIA', 'AIRCRAFT_TYPE': 'B707-400', 'REGISTRATION': 'VT-DJI'}
{'AIRLINE': 'AIR INDIA', 'AIRCRAFT_TYPE': 'B707-400', 'REGISTRATION': 'VT-DJI'}
{'AIRLINE': 'AIR INDIA', 'AIRCRAFT_TYPE': 'B707-400', 'REGISTRATION': 'VT-DJI'}
{'AIRLINE': 'AIR INDIA', 'AIRCRAFT_TYPE': 'B707-400', 'REGISTRATION': 'VT-DJI'}
{'AIRLINE': 'AIR INDIA', 'AIRCRAFT_TYPE': 'B707-400', 'REGISTRATION': 'VT-DJI'}

In [8]:
   
data={}
 
#for rec in cursor[:2]:  #slicning in loop to show only two records
 #print (rec)
aggpipeline =[{ "$group": {"_id": "$AIRLINE", "total": { "$sum": "$PRICE" },"myCount": { "$sum": 1 }}}]
cursor1=colmodelscloud.aggregate(aggpipeline)

print(cursor1)
#for rec in cursor1:
 #   print(rec)
#print(list(cursor1))    
#test = (colmodels.aggregate(aggpipeline))
#print(test)
#for rec in test:
#    print(rec)
summarydf = pd.DataFrame(list(colmodelscloud.aggregate(aggpipeline))).rename(columns={"_id":"Airline","myCount":"ModelCount"})
data = { "airline":summarydf["Airline"].tolist(),
           "ModelCount":summarydf["ModelCount"].tolist(),
            "total":summarydf["total"].tolist(),
       }
#print(data)
test=summarydf.to_json()
summarydf.head()

<pymongo.command_cursor.CommandCursor object at 0x000001D1BC620088>

                Airline   total  ModelCount
0                  TACA   69.62           2
1          FAUCETT PERU   75.00           1
2                   UAT   40.46           1
3  CONTINENTAL AIRLINES  104.22           2
4           ICELAND AIR   32.26           1

In [11]:
airdf["month"]=airdf["DATEOFORDER"].dt.month
airdf["year"]=airdf["DATEOFORDER"].dt.year
airdf["ORDEREDFROM"]=airdf["ORDEREDFROM"].to.upper()
airdf.head()

AttributeError: 'Series' object has no attribute 'to'