In [51]:
import sys
import pandas as pd
import pyodbc as pyodbc
from sqlalchemy.dialects.mssql import pymssql
import pymssql
import pymongo
import csv
import json
from config import userid,password
from pymongo import MongoClient
from flask import Flask, jsonify, render_template
client = MongoClient()
client = MongoClient('localhost', 27017)
#mongodb+srv://arinmuk:amarji123!@cluster0-omshy.mongodb.net/test?retryWrites=true&w=majority
cloudstr=f'mongodb+srv://{userid}:{password}@cluster0-omshy.mongodb.net/test?retryWrites=true&w=majority'
cloudclient = MongoClient(cloudstr)

In [52]:
db=cloudclient['Aircraft']
colmodelscloud=db['models']
cursor = colmodelscloud.find()
print(cursor)

<pymongo.cursor.Cursor object at 0x0000027E13A0BAC8>

In [53]:
for rec in cursor[:5]:
    print(rec)

{'_id': ObjectId('5db74f73d16abd567ce78f97'), 'ID': 38, 'MODEL_NO': 'JC2CDN082', 'DIMAID': nan, 'WID': '23147', 'AIRLINE': 'CP AIR', 'AIRCRAFT_TYPE': 'DC 3', 'REGISTRATION': 'CF-CRX', 'DESCRIPTION': 'JC Wings CP Air C-47A-DL 1:200 - JC2CDN082 - ID#23147 ; 1970s  Colors.CF-CRX', 'SIZE': '1:200', 'PRICE': 23.0, 'SHIPPING': 4.0, 'TAX': 0.0, 'COMPANY': 'FLIGHTLINE 200', 'ORDEREDFROM': 'EBAY:JOHANCHAN2004', 'DATEOFORDER': datetime.datetime(2011, 1, 31, 0, 0), 'HangarClub': False, 'PictureID': 38.0}
{'_id': ObjectId('5db74f73d16abd567ce78f9a'), 'ID': 42, 'MODEL_NO': 'WID13268', 'DIMAID': nan, 'WID': '13268', 'AIRLINE': 'ANA', 'AIRCRAFT_TYPE': 'B747-400', 'REGISTRATION': 'JA8957', 'DESCRIPTION': 'Blue Box ANA All Nippon Airways B 747-481D 1:400: 2004s - Pokemon  Colors. With  Star Alliance  Logo.JA8957', 'SIZE': '1:400', 'PRICE': 24.0, 'SHIPPING': 4.0, 'TAX': 0.0, 'COMPANY': 'BLUE BOX', 'ORDEREDFROM': 'EBAY:JOHANCHAN2004', 'DATEOFORDER': datetime.datetime(2011, 1, 31, 0, 0), 'HangarClub': False, 'PictureID': 42.0}
{'_id': ObjectId('5db74f73d16abd567ce78f86'), 'ID': 11, 'MODEL_NO': 'MP5805', 'DIMAID': nan, 'WID': '17047', 'AIRLINE': 'LUFTHANSA', 'AIRCRAFT_TYPE': 'A340-600', 'REGISTRATION': 'NA', 'DESCRIPTION': 'Model Power Lufthansa A340-642 1:500 - 5805 - ID#17047; 1990s  Colors. With  Star Alliance  Logo. With Stand.NA', 'SIZE': '1:500', 'PRICE': 14.95, 'SHIPPING': 0.4, 'TAX': 0.0, 'COMPANY': 'MODEL POWER', 'ORDEREDFROM': '3000TOYS.COM', 'DATEOFORDER': datetime.datetime(2011, 2, 4, 0, 0), 'HangarClub': False, 'PictureID': 10.0}
{'_id': ObjectId('5db74f73d16abd567ce78fa1'), 'ID': 49, 'MODEL_NO': 'ACCFCPL', 'DIMAID': nan, 'WID': '35230', 'AIRLINE': 'CANADIAN PACIFIC', 'AIRCRAFT_TYPE': 'B737-300', 'REGISTRATION': 'C-FCPL', 'DESCRIPTION': 'Aeroclassics Canadian Pacific B 737-317 1:400 - ACCFCPL - ID#35230;  Mid 1980s  livery;C-FCPL', 'SIZE': '1:400', 'PRICE': 35.0, 'SHIPPING': 0.0, 'TAX': 0.0, 'COMPANY': 'Aeroclassics', 'ORDEREDFROM': 'EZTOYS', 'DATEOFORDER': datetime.datetime(2013, 3, 14, 0, 0), 'HangarClub': False, 'PictureID': 49.0}
{'_id': ObjectId('5db74f73d16abd567ce78f99'), 'ID': 41, 'MODEL_NO': 'WID8141', 'DIMAID': nan, 'WID': '8141', 'AIRLINE': 'AIR EUROPE', 'AIRCRAFT_TYPE': 'B767-300ER', 'REGISTRATION': 'EI-CIY', 'DESCRIPTION': 'BigBird400 Air Europe B 767-330ER 1:400 - BB4-2004-XX; 1990s  Colors. EI-CIY', 'SIZE': '1:400', 'PRICE': 19.0, 'SHIPPING': 4.0, 'TAX': 0.0, 'COMPANY': 'BIGBIRD400', 'ORDEREDFROM': 'EBAY:JOHANCHAN2004', 'DATEOFORDER': datetime.datetime(2011, 1, 31, 0, 0), 'HangarClub': False, 'PictureID': 41.0}

In [62]:
airdf= pd.DataFrame(list( colmodelscloud.find()))
airdf.head()

,AIRCRAFT_TYPE,AIRLINE,COMPANY,DATEOFORDER,DESCRIPTION,DIMAID,HangarClub,ID,MODEL_NO,ORDEREDFROM,PRICE,PictureID,REGISTRATION,SHIPPING,SIZE,TAX,WID,_id
0,DC 3,CP AIR,FLIGHTLINE 200,2011-01-31,JC Wings CP Air C-47A-DL 1:200 - JC2CDN082 - I...,NaN,False,38,JC2CDN082,EBAY:JOHANCHAN2004,23.00,38.0,CF-CRX,4.0,1:200,0.0,23147,5db74f73d16abd567ce78f97
1,B747-400,ANA,BLUE BOX,2011-01-31,Blue Box ANA All Nippon Airways B 747-481D 1:4...,NaN,False,42,WID13268,EBAY:JOHANCHAN2004,24.00,42.0,JA8957,4.0,1:400,0.0,13268,5db74f73d16abd567ce78f9a
2,A340-600,LUFTHANSA,MODEL POWER,2011-02-04,Model Power Lufthansa A340-642 1:500 - 5805 - ...,NaN,False,11,MP5805,3000TOYS.COM,14.95,10.0,NA,0.4,1:500,0.0,17047,5db74f73d16abd567ce78f86
3,B737-300,CANADIAN PACIFIC,Aeroclassics,2013-03-14,Aeroclassics Canadian Pacific B 737-317 1:400 ...,NaN,False,49,ACCFCPL,EZTOYS,35.00,49.0,C-FCPL,0.0,1:400,0.0,35230,5db74f73d16abd567ce78fa1
4,B767-300ER,AIR EUROPE,BIGBIRD400,2011-01-31,BigBird400 Air Europe B 767-330ER 1:400 - BB4-...,NaN,False,41,WID8141,EBAY:JOHANCHAN2004,19.00,41.0,EI-CIY,4.0,1:400,0.0,8141,5db74f73d16abd567ce78f99

In [54]:
cursor = colmodelscloud.find({"AIRLINE":"AIR INDIA"})
for rec in cursor[:2]:  #slicning in loop to show only two records
         print (rec)

print("++++++++++++++++++")

{'_id': ObjectId('5db74f73d16abd567ce78f92'), 'ID': 32, 'MODEL_NO': 'IF743003', 'DIMAID': nan, 'WID': '21375', 'AIRLINE': 'AIR INDIA', 'AIRCRAFT_TYPE': 'B747-300', 'REGISTRATION': 'VT-EPW', 'DESCRIPTION': 'Inflight200 Air India B 747-337SCD 1:200 - IF743003; 1990s  Colors. With Rolling Gears;VT-EPW', 'SIZE': '1:200', 'PRICE': 90.0, 'SHIPPING': 4.0, 'TAX': 0.0, 'COMPANY': 'INFLIGHT200', 'ORDEREDFROM': 'EBAY:JOHANCHAN2004', 'DATEOFORDER': datetime.datetime(2011, 1, 31, 0, 0), 'HangarClub': False, 'PictureID': 32.0}
{'_id': ObjectId('5db74f73d16abd567ce78fbd'), 'ID': 85, 'MODEL_NO': 'ACVTDVB', 'DIMAID': nan, 'WID': '23105', 'AIRLINE': 'AIR INDIA', 'AIRCRAFT_TYPE': 'B707-300', 'REGISTRATION': 'VT-DVB', 'DESCRIPTION': 'Aeroclassics Air India B 707-320C 1:400 - ACVTDVB - ID#23105; 1970s  Colors. With Polished Belly. With Rolling Gears. Named  Kamet . 400SH Club Model.Exclusive for Hangar Club members.VT-DVB', 'SIZE': '1:400', 'PRICE': 33.0, 'SHIPPING': 5.0, 'TAX': 0.0, 'COMPANY': 'AEROCLASSICS', 'ORDEREDFROM': 'www.ebay.com:', 'DATEOFORDER': datetime.datetime(2010, 12, 28, 0, 0), 'HangarClub': True, 'PictureID': 85.0}
++++++++++++++++++

In [55]:
cursor = colmodelscloud.find({"AIRLINE":"AIR INDIA"}, { "AIRLINE": 1, "AIRCRAFT_TYPE": 1, "REGISTRATION": 1,"_id":0 })
for rec in cursor[:2]:  #slicning in loop to show only two records
         print (rec)

{'AIRLINE': 'AIR INDIA', 'AIRCRAFT_TYPE': 'B747-300', 'REGISTRATION': 'VT-EPW'}
{'AIRLINE': 'AIR INDIA', 'AIRCRAFT_TYPE': 'B707-300', 'REGISTRATION': 'VT-DVB'}

In [56]:
cursor = colmodelscloud.find({"REGISTRATION":"VT-DJI"}, { "AIRLINE": 1, "AIRCRAFT_TYPE": 1, "REGISTRATION": 1,"_id":0 })
for rec in cursor:  #slicning in loop to show only two records
         print (rec)

{'AIRLINE': 'AIR INDIA', 'AIRCRAFT_TYPE': 'B707-400', 'REGISTRATION': 'VT-DJI'}
{'AIRLINE': 'AIR INDIA', 'AIRCRAFT_TYPE': 'B707-400', 'REGISTRATION': 'VT-DJI'}
{'AIRLINE': 'AIR INDIA', 'AIRCRAFT_TYPE': 'B707-400', 'REGISTRATION': 'VT-DJI'}
{'AIRLINE': 'AIR INDIA', 'AIRCRAFT_TYPE': 'B707-400', 'REGISTRATION': 'VT-DJI'}
{'AIRLINE': 'AIR INDIA', 'AIRCRAFT_TYPE': 'B707-400', 'REGISTRATION': 'VT-DJI'}

In [57]:
   
data={}
 
#for rec in cursor[:2]:  #slicning in loop to show only two records
 #print (rec)
aggpipeline =[{ "$group": {"_id": "$AIRLINE", "total": { "$sum": "$PRICE" },"myCount": { "$sum": 1 }}}]
cursor1=colmodelscloud.aggregate(aggpipeline)

print(cursor1)
#for rec in cursor1:
 #   print(rec)
#print(list(cursor1))    
#test = (colmodels.aggregate(aggpipeline))
#print(test)
#for rec in test:
#    print(rec)
summarydf = pd.DataFrame(list(colmodelscloud.aggregate(aggpipeline))).rename(columns={"_id":"Airline","myCount":"ModelCount"})
data = { "airline":summarydf["Airline"].tolist(),
           "ModelCount":summarydf["ModelCount"].tolist(),
            "total":summarydf["total"].tolist(),
       }
#print(data)
test=summarydf.to_json()
summarydf.head()

<pymongo.command_cursor.CommandCursor object at 0x0000027E139F2B38>

                     Airline  ModelCount   total
0                   LOCKHEED           1   33.96
1  REPUBLIC OF KOREA AIRFORC           1  110.00
2                    PRIVATE           1   38.98
3                      TAROM           1   28.06
4         HUNGARIAN AIRFORCE           2   94.00

#